// Nero colors
$theme-color: #f4901d;
// Orange: f4901d, Dark blue: 35495e, Vue green: 42b983 / 4dba87
$text-color: #2c3e50;
$text-color-light: #fff;
$text-fallback: #b7b7b7;

// Background colors
$background-white-color: #ffffff;
$background-light-color: #f8fafc;
$toolbar-background-color: #f1f1f1;
$menu-selected-background-color: #bdbdbd;
$header-background-color: $toolbar-background-color;
$notif-background-color: #cd4436;
$valid-background-color: #01d801;

$body-height-toolbar: 80vh;

// Border
$border: 1px solid #e2e2e2;
$border-radius: 5px;

// Z-indexes
$modal-z-index: 15;
$popup-z-index: 12;
$banner-z-index: 10;
$side-menu-z-index: 7;
$dropdown-z-index: 5;
$service-toolbar-z-index: 3;
$service-menu-z-index: 2;

// Global rules
%nero-shadow {
  box-shadow: 0 2px 3px rgba(0,0,0,0.19);
}

%nero-btn-like {
  border-radius: $border-radius;
  padding: 6px 12px;
  text-align: center;
  border: none;
  cursor: pointer;
  display: inline-block;
  @extend %nero-shadow;

  &:focus {
    outline: none;
  }
}

%nero-input {
  background: #f9f9f9;
  background-image: none;
  border: 0;
  box-shadow: none;
  width: 100%;
  margin-bottom: 5px;
  padding: 0;
  outline: none;

  &.form {
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 5px;
    padding: 8px
  }
}

%nero-menu {
  @extend %nero-shadow;
  background-color: $toolbar-background-color;
}

%nero-menu-item {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  position: relative;

  &.selected {
    background-color: $menu-selected-background-color;
  }

  &:hover {
    cursor: pointer;
  }
}