h2{
  font-weight: normal;
  margin: 0.3em 0;
}

.header-pellet {
  height: 20px;
  width: 20px;
}

.read-only-button {
  height: 15px;
  width: 15px;
  padding: 0;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
