// Content
$color-body-bg: #fff;

// Fonts
$color-text: #494949;
$color-dark-text: #000;
$color-light-text: #fff;
$color-fallback-text: #d4d4d4;
$color-menu-text: #909090;

// Border
$color-border: #d4d4d4;
$color-border-menu: #D9E2EA;

// Backgrounds
$color-not-white-bg: #f5f5f5;
$color-toolbar-bg: $color-not-white-bg;
$color-header-bg: $color-not-white-bg;
$drop-zone-area-bg: #aaa;
$color-valid-bg: #01d801;
$color-selected-bg: #D9E2EA;
$color-active-bg: #0B5FFF;
$color-white-bg: #fff;
$color-menu-bg: #fff;
$color-notif-bg: #cd4436;

// Hovers
$color-hover-bg: #e8e8e8;

// File Picker
$color-file-picker-selected-file: $color-selected-bg;

// Messaging
//$color-messaging-dark-text: black;
$color-messaging-dark-text: #0B3C5F;
$color-messaging-bg: #27AAE1;
$color-messaging-dark-white-bg: #F3F6F8;
$color-messaging-link-text: #0048ff;
$color-selected-message: $color-messaging-bg;
$color-sub-message: rgba(39, 170, 255, 0.15);
$color-selected-sub-message: $color-border-menu;
