// Content
$color-body-bg: #fff;

// Fonts
$color-text: #494949;
$color-dark-text: #000;
$color-cadyco-dark-text: #0B3C5F;
$color-light-text: #fff;
$color-fallback-text: #f1f1f1;

// Border
$color-border: #ddd;

// Backgrounds
$color-toolbar-bg: #f1f1f1;
$color-header-bg: $color-toolbar-bg;
$color-valid-bg: #01d801;

// Hovers
$color-hover-bg: #e8e8e8;
