// Content
$color-body-bg: #fff;

// Fonts
$color-text: #494949;
$color-dark-text: #000;
$color-light-text: #fff;
$color-fallback-text: #f1f1f1;

// Border
$color-border: #ddd;

// Backgrounds
$color-not-white-bg: #f1f1f1;
$color-toolbar-bg: $color-not-white-bg;
$color-header-bg: $color-not-white-bg;
$color-valid-bg: #01d801;
$color-selected-bg: #D9E2EA;
$color-active-bg: #0B5FFF;

// Hovers
$color-hover-bg: #e8e8e8;

// File Picker
$color-file-picker-selected-file: $color-active-bg;
