// Default values
$background-white-color: #ffffff;
$background-hover-color: #c5c5c5;

$valid-color: #5cb85c;
$mixed-color: #eb7e36;
$error-color: #ac2925;

$dropdown-z-index: 5;
$modal-z-index: 10;

// Mixins
// @mixin calc($property, $expression) {
//   #{$property}: -moz-calc(#{$expression});
//   #{$property}: -webkit-calc(#{$expression});
//   #{$property}: -o-calc(#{$expression});
//   #{$property}: calc(#{$expression});
// }

// @mixin rotate($degree: -45deg) {
//   -webkit-transform: rotate($degree);
//   -moz-transform: rotate($degree);
//   -ms-transform: rotate($degree);
//   -o-transform: rotate($degree);
//   transform: rotate($degree);
// }

%no-text-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
