@font-face {
  font-family: 'CustomIcons';
  src: url('@/assets/fonts/Custom-icons-font.ttf') format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "CustomIcons", sans-serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e917";
}
.icon-upload:before {
  content: "\e909";
}
.icon-stats:before {
  content: "\e916";
}
.icon-burger:before {
  content: "\e914";
}
.icon-cross-L:before {
  content: "\e915";
}
.icon-filter-plain:before {
  content: "\e913";
}
.icon-folder:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-langues:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-resource:before {
  content: "\e907";
}
.icon-admin:before {
  content: "\e908";
}
.icon-Aa:before {
  content: "\e90a";
}
.icon-record:before {
  content: "\e90b";
}
.icon-link:before {
  content: "\e90c";
}
.icon-h5p:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e90e";
}
.icon-devoirs:before {
  content: "\e90f";
}
.icon-seance:before {
  content: "\e910";
}
.icon-collab-workspace:before {
  content: "\e911";
}
.icon-double-arrow:before {
  content: "\e912";
}
.icon-school-life:before {
  content: "\e902";
}
.icon-filter:before {
  content: "\e901";
}
