%widget-h2 {
  font-weight: normal;
  margin: 0.3em 0;
}

%dashboard-header-pellet {
  height: 20px;
  width: 20px;
}

$announcement-item-height: 106px;
$announcement-item-min-width: 323px;

%read-only-button {
  height: 15px;
  width: 15px;
  padding: 0;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

%inline-modal-ck {
  border: 1px solid #666;
  max-height: 30vh;
  overflow-y: auto;
}

%item-pellet {
  --pellet_size: 16px;
  height: var(--pellet_size);
  width: var(--pellet_size);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-75%, -25%);
}

%widget-footer {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 4px;
    border: 1px solid $color-border;
    border-radius: 4px;
    height: 29px;
    cursor: pointer;
    padding: 9px 10px;
    background-color: white;
    display: flex;
    align-items: center;
  }
}
