// Default
$system-default-font-family: Roboto Sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $system-default-font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$default-app-font-familly: 'Avenir', Helvetica, Arial, sans-serif;
// -webkit-font-smoothing: antialiased;
// -moz-osx-font-smoothing: grayscale;

$heading-font-family: $system-default-font-family;
$heading-font-weight: 600;

$content-font-family: $system-default-font-family;
$content-font-weight: 400;

%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  // color: $color-heading-text;
}

%font-content {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
  color: $color-dark-text;
}

@font-face {
  font-family: "Roboto Sans";
  font-style: normal;
  src: url(/src/assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-display: swap
}

