// Borders
$light-radius-size: 5px;

// Content
$size-content-width-max: 50rem;
$size-content-width-min: 25rem;

// Documents
$doc-currents-options-height: 50px;

// Progression
$switch-mode-banner-height: 80px;
